<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <title>Recibo de Nómina</title>
</head>
<body class="container">
    <%- include('partials/header.ejs') %>
    <%- include('partials/nav.ejs') %>
    <div class="container">
        <center>
            <h3>Recibo de Nómina</h3>
        </center>

        <section class="formulario-container" style="padding: 20px;">
            <div id="formulario" class="container">
                <form action="/preExamen" method="post" id="formNomina">
                    <div class="form-group">
                        <label for="numRecibo">Número de Recibo:</label>
                        <input type="number" name="numRecibo" id="numRecibo" required>
                    </div>
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" id="nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="puesto">Puesto:</label>
                        <select name="puesto" id="puesto">
                            <option value="1">Auxiliar</option>
                            <option value="2">Albañil</option>
                            <option value="3">Ing. Obra</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="nivel">Nivel:</label>
                        <select name="nivel" id="nivel">
                            <option value="1">Base</option>
                            <option value="2">Eventual</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="dias">Días Trabajados:</label>
                        <input type="number" name="dias" id="dias" required>
                    </div>
                    <div class="buttons" style="margin: 20px 0px;">
                        <button type="button" class="btn btn-secondary" id="nuevo">Nuevo</button>
                        <button type="button" class="btn btn-primary" id="guardar" disabled>Guardar</button>
                        <button type="button" class="btn btn-success" id="mostrar" disabled>Mostrar</button>
                    </div>
                </form>

                <section class="container" id="resultados" style="display: none;">
                    <center>
                        <hr>
                        <h2>Resultados:</h2>
                        <hr>
                        <table class="table">
                            <thead>
                                <tr>
                                    <td><%= calculoPago ? calculoPago : "Sin datos" %></td>
                                    <td><%= calculoImpuesto ? calculoImpuesto : "Sin datos" %></td>
                                    <td><%= totalPagar ? totalPagar : "Sin datos" %></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="calculoPago"></td>
                                    <td id="calculoImpuesto"></td>
                                    <td id="totalPagar"></td>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                </section>
            </div>
        </section>
    </div>
    <%- include('partials/footer.ejs') %>
    <script>
        document.getElementById("nuevo").addEventListener("click", function() {
            document.getElementById("guardar").disabled = false;
        });
        
        document.getElementById("guardar").addEventListener("click", function() {
            document.getElementById("mostrar").disabled = false;
        });
        
        document.getElementById("mostrar").addEventListener("click", function() {
            document.getElementById("resultados").style.display = "block";
        });
    </script>
</body>
</html>
